langchain
langchain-community
langchain-chroma
langchain-huggingface
langchain-text-splitters
chromadb
sentence-transformers
pydantic
jq
python-dotenv
config_loader
tqdm
dataclasses
qdrant-client
torch
fastembed